.product-img
.product-title
.order-box
  .product-price
  .order__quantity
  .order__button
  .order__text
.delivery-box
  div
    .ware-title 
    .delivery__time
    .delivery__price
.description-box
  div
    .ware-title 
    span
.coments-group
  .ware-title 
  .coments-count
  .coment-box
    .coment-date
    .coment-autgor
    .coment-rate
    .coment